/* You can add global styles to this file, and also import other style files */

.reglist, .regentry{
    margin-top: 80px;
}

.target-btn-submit {
    margin-right: 20px;
}

.dropdown-status{
    margin-bottom: 10px;
}

.target-table-header {
    padding: 40px 0;
}

.filter-wrap{
    display: inline-block;
}

.pull-right {
    float: right;
}